.body{
  padding-top:40px;
  padding-left:0;
  background: none;
  margin-top:-240px;
  margin-left:-20px;
}
.container_add{
  display: inline-block;
  padding:0px;
}
.h1_name{
  margin-top:30px;
  font-size:40px;
  font-style: italic;
}
.h1_pa{
  display:inline-block;
}
.h1_pa_add{
  display:inline-block;
  margin-left:510px;
  font-size:20px;
  font-style: normal;
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  background-color: #55e2c6;
  color:white;
  height: 45px;
  width:130px;
  text-align: center;
  align-items: center;
  transition:.15s;
}
.h1_pa_add2{
  display:inline-block;
  margin-left:100px;
  font-size:20px;
  font-style: normal;
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  background-color: #55e2c6;
  color:white;
  height: 45px;
  width:130px;
  text-align: center;
  align-items: center;
  transition:.15s;
}
.h1_pa_add3{
  display:inline-block;
  margin-left:100px;
  font-size:20px;
  font-style: normal;
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  background-color: #55e2c6;
  color:white;
  height: 45px;
  width:130px;
  text-align: center;
  align-items: center;
  transition:.15s;
  margin-right:0;
}
.h1_pa_add:hover{
  font-size:21px ;
}
.h1_pa_add:active{
  opacity:.3;
}
.h1_pa_add2:hover{
  font-size:21px ;
}
.h1_pa_add2:active{
  opacity:.3;
}
.h1_pa_add3:hover{
  font-size:21px ;
}
.h1_pa_add3:active{
  opacity:.3;
}
.container_back{
  position:relative;
    top:0;
    left:0;
    text-align: left;
}
.table_emp{
  border-collapse: collapse;
  margin:25px 0;
  font-size: 0.9em;
  min-width:1500px;
  border-radius:5px 5px 0 0;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
}
.attribute{
  width:100px;
  margin-right:0px;
}
.table_emp thead tr{
  background-color: #009879;
  color:white;
  text-align:left;
  font-family:bold;
}
.table_emp th,
.table_emp td {
  padding:12px 15px;
}
.table_emp tbody tr{
  border-bottom: 1px solid #dddddd;
}
.table_emp tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.table_emp tbody tr:last-of-type{
  border-bottom: #009879;
}
.table_emp tbody tr.active-row{
  font-weight:bold;
  color:#009879;
}