.background {
    width: 100%;
    min-height: 100vh;
    background: url('../assets/bg-01.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper-login{
    width:420px;
    margin-top: 15%;
    background: white;
    border:2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius:10px;
}

.background1{
    width: 100%;
    min-height: 100vh;
    background: none;
}

.specialbg{
    background: black;
}