*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}
body{
  min-height:100vh;
  padding-top:87px;
  padding-left:12.5%;
}
a{
  text-decoration: none;
}
.background{
  background-repeat: no-repeat;
  background-size:auto;
  width:100%;
}
.sidebar{ 
  background-color: bisque;
  position:fixed;
  left:0;
  bottom:0;
  top:87px;
  height:100%;
  width:12%;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: rgb(234, 234, 234);
}
.container1{
  position:fixed;
  top: 315px;
  left:25px;
  margin:auto;
}
.bt1{
  display:grid;
  grid-template-rows: 25px 25px 25px 25px 25px;
  border:none;
  background-color: transparent;
  font-size:17px;
  align-items: center;
  text-decoration: none;
  font-style: bold;
  color:rgb(225, 105, 87);
  cursor:pointer;
  transition: .15s;
  text-align: left;
}
.bt1:hover{
  font-size:20px;
}
.bt1:active{
  opacity:0.3;
}