.body{
  background: none;
}
.employee{
  display:grid;
      grid-template-columns: 700px 700px;
      position:fixed;
      top:300px;
      left:330px;
}
.div_emp2{
  display:grid;
  grid-template-rows: 350px 350px;
}
.div_emp{
  text-align: center;
  margin-right:10px;
}
.div_emp2{
  border-color: black;
  border-radius:10px;
}
.p_empm{
  width:fit-content;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 50px;
  background-color: lightcoral;
  border-color: rgb(0, 0, 0);
  color:#fff;
  transition:0.2s;
}
.p_empm:hover{
  padding-left:105px;
  padding-right:105px;
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 55px;
}
.p_empm:active{
  opacity:0.3;
}
.p_emps{
  width:fit-content;
  padding-left: 98px;
  padding-right: 98px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 50px;
  background-color: lightcoral;
  border-color: rgb(0, 0, 0);
  color:#fff;
  transition:0.2s;
}
.p_emps:hover{
  padding-left:145px;
  padding-right:145px;
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 55px;
}
.p_emps:active{
  opacity:0.3;
}
.p_empr{
  width:fit-content;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 50px;
  background-color: lightcoral;
  border-color: rgb(0, 0, 0);
  color:#fff;
  transition:0.2s;
}
.p_empr:hover{
  padding-left: 160px;
  padding-right:160px;
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 55px;
}
.p_empr:active{
  opacity:0.3;
}
.p_empc{
  width:fit-content;
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 50px;
  background-color: lightcoral;
  border-color: rgb(0, 0, 0);
  color:#fff;
  transition:0.2s;
}
.p_empc:hover{
  padding-left:235px;
  padding-right:235px;
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 55px;
}
.p_empc:active{
  opacity:0.3;
}